

body{
	margin-top: 40px;
	font-family: 'Raleway', sans serif;
}

/* header */

header{
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
}

#logoreservia{
 
   


}


#navigation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    background-color: red;
}

.ancres{
	text-decoration: none;
	color: black;
}

.ancres:hover{
	color: #0065FC;
}

.sinscrire{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
	background-color: red;
}



/* section recherche */
	
#recherche{
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-left: 40px;
	margin-right: 40px;
}

#titre-et-p1{
	display: flex;
	flex-direction: column;
}

#titre
{
	margin-bottom: 0px;
}

#p1{
	margin-top: 0px;
}

#barrerecherche{
	display: flex;
	
}

.mapmarker{
	padding: 10px;
	padding-left: 12px;
	padding-right: 12px;
    vertical-align: middle; 
	background-color: #F2F2F2; 
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#exemple{
	font-weight: 900;
	font-family: 'Raleway', sans serif;

}

#button-recherche{
	color: white;
	background-color: #0065FC;
	border-color: #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	outline: none;
}

.iconfiltre
{
	
	padding: 10px;
	padding-left: 12px;
	padding-right: 12px;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 20px;
	margin-right: 10px;
}

.basefiltre{
	margin-top: 25px;
}

#filtres
{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	font-weight: bold;

}

.filtre
{

	border: solid #F2F2F2;
	margin-left: 5%;
	border-radius: 20px;
	padding-right: 20px;
	padding-left: 0px;

}

.filtre:hover{
	border-color: #0065FC;
}

.info{
	background-color: #0065FC;
	color: white;
	border: solid;
	border-color: #F2F2F2;
	border-radius: 20px;
}

/* Bloc des hotels */

#blockhotels{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}




/* Hèbergements de la ville recherché */

#conteneurville
{
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 40px;
	background-color: #F2F2F2;
	padding: 30px;
	border: grey;
	border-radius: 20px;
	min-height: 600px;
	max-width: 1000px

	
}

#elementville
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #F2F2F2;
	border: grey;
	border-radius: 20px;
	min-height: 400px;
}	

.ville 
{
	background-size: cover;
	background-position: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
}

.marseille1{
	background-image: url(../img/marseille1.jpg); 
}

.marseille2{

}

.marseille3{

}

.marseille4{

}

.marseille5{

}

.marseille6{

}

/* Les hôtels les plus populaires */

#titrepopulaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.hotel
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden;
}

#conteneurhotel
{
	display: flex;
	flex-direction:  column;
	background-color: #F2F2F2;
	margin: 40px;
	max-width: 20%;
	padding: 1%;
	border: grey;
	border-radius: 20px;
}


#elementhot
{
	display: flex;
	flex-direction:  column;
}

/* Activités de la ville recherché */

.activite
{
	display: flex;
	flex-direction: column;
	
}

#conteneuractivites
{
	display: flex;
	flex-direction: column;
	margin: 40px;

}

#elementsactivites
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

}

/* Footer */

#blockfooter{
	background-color: #F2F2F2;
}

#footer{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	text-decoration: none;
	color: black;
}

.liens{
	text-decoration: none;
	color: black;
}

#apropos{
	font-weight: bold;
}

#noshebergements{
	font-weight: bold;
}

#assistance{
	font-weight: bold;
}

#blockpropos 
{
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 500px;
}

#blockhebergements{
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 500px;
}

#blockassistance{
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 500px;
}