

body
{
	margin-left: 50px;
	margin-top: 40px;
	margin-right: 50px; 
	font-family: 'Raleway', sans serif;
}



/* header */

header
{
	display: flex;
	justify-content: space-between;
	background-color: white;
}

#logoreservia
{
    display: flex;
    justify-content: flex-start;
}

#navigation 
{
    display: flex;
    justify-content: row-reverse;


}

.boutonnavigation
{
	border: none;
	background-color: white;

	
}

.inscription
{
	border: none;
	background-color: white;
	
}


/* section recherche */
	
#recherche
{
	display: flex;
	flex-direction: column;
	justify-content: normal;
}

#titre 
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#filtres
{
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-weight: bold;
}

.filtre
{
	display: flex;
	margin-left: 5%;

}

/* Bloc hébergements */

.ville
{
	
}

#hebergements
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	
}

/* Hèbergements de la ville recherché */

#conteneurville
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Les hôtels les plus populaires */
.hotel
{
	
}

#conteneurhotel
{
	display: flex;
	flex-direction:  column;
}

#elementhot
{
	display: flex;
	flex-direction:  column;
}

/* Activités de la ville recherché */

.activite
{
	max-width: 100%;

#conteneuractivites
{
	display: flex;
}



/* Footer */

footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

