

body{
	font-family: 'Raleway', sans serif;
}

#limites{
	margin: 0 auto;
	max-width: 1900px;
}

/* header */


/* section recherche */
	

/* Hèbergements de la ville recherché */


/* Les hôtels les plus populaires */


/* footer */


/* responsive */

